*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
main {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
            "header header  header  header  header"
            "aside cuerpo cuerpo cuerpo cuerpo"
            "pie pie pie  pie  pie";
    row-gap: 0;
    column-gap: 0;
    grid-template-rows: 10% 90% ;
    height: 98vh;
    
}

header {
    grid-area: header;
    background: #000000f1;
    color: #ffffff;
    
}
#header_text{
    padding: 15px 30px;
    display: flex;
    font-size: 20px;   
    align-items: center;
        
}
#header_text i{
    margin-right: 10px;
    font-size: 30px;
}

aside {
    background: #1783db;
    color: white;
    grid-area: aside;
    font-size: 18px;
    height: 100%; /* Agregamos una altura del 100% para que el aside tenga la misma altura que la ventana gráfica */
    
}

.menu_lateral{
    padding: 20px 40px;
    top: 80px;
    
    }

.menu_lateral a{
    
    color: #ffffffb2;
    cursor: default;
       
    
}

.menu_lateral a:hover{
    color: white;
}


.menu_lateral i{
    width: 20px;
    margin-right: 5px;
    cursor: pointer;
    
}

.menu_lateral h4{
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    
}
.menu_lateral ul{
    list-style: none; 
   
    
}
.menu_lateral li{
     padding: 20px 10px;    
}


section {
    grid-area: cuerpo;
    border: 0px solid royalblue;    
    margin: 0 auto;
    padding: 30px;
     overflow-y: auto;
    
}

footer {
    grid-area: pie;    
    background: #000000dc;
    color: #ffffffd0;
    height: 50px;
    
}
footer p{
    padding: 15px 0px;
    display: flex;
    font-size: 12px;   
    align-items: center; 
    justify-content: center;
}
